body {
  	margin: 0 auto;
  	background-size: 1000px;
  	background-repeat:no-repeat;
}

#gameBoard {
	text-align:center;
}


#jeopardyBoard {
	z-index: 0;
}

#squares {
	display:inline-block;
	height:100px;
	width:150px;
}

#categories {
	vertical-align: middle;
}