/*font for numbers: font-family: 'Orbitron', sans-serif;

font for Ken: font-family: 'Amatic SC', cursive;

font for Sean: font-family: 'Sedgwick Ave', cursive;

*/

body {
  	margin: 0 auto;
  	background-size: 1000px;
  	background-repeat: no-repeat;
}

#gameBoard {
	text-align: center;
	background-image: url(jeopardy.png);
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	width: 1200px;
	height: 700px;
	display: none;
}

#background {
	display: none;
	background-image: url("clueScreenBackground.jpg");
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	background-position: left top;
	margin: 0;
	height: 1000px;
	width: 2000px;
}

#jeopardyBoard {
	z-index: 0;
	text-align: center;
	margin-right: 20px;
}

.squares {
	height: 100px;
	width: 150px;
	display: inline-block;
	font-family: impact;
	font-size:30px;
	font-weight: bold;
	color: goldenrod;
	margin:5px;
}

.categorySquares {
	height: 75px;
	width: 100px;
	margin-top: 15px;
	margin: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: 20px;
	font-family: impact;
	font-weight: bold;
	color: goldenrod;
	display: inline-block;
}

#clueScreen {
	display: none;
	background-image: url("clueScreenBackground.jpg");
	background-size: 100%;
	background-attachment: fixed;
	position: absolute;
	background-position: left top;
	margin:0;
	height:1200px;
	width:1500px;
}

#scorePodiums {
	transform: scale(0.75);
	text-align: center;
	position: absolute;
	margin-top: 175px;
	margin-bottom: 150px;
	margin-right: 75px;
}

.scores {
	display: inline-block;
	position: absolute;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	color: white;
	height: 20px;
	width: 20px;
	border: 5px solid black;
	margin: 75px;
	margin-left: 300px;
	margin-bottom:500px;

}

#buzzer {
	background-color: red;
	border-radius: 50%
	font-size: 40px;
}
.response {
	display:none;
	height: 150px;
	width: 150px;
}

.clue {
	width: 350px;
	height: 350px;
	border: 5px solid black;
	background: blue;
	font-family: impact;
	font-weight: bold;
	font-size: 25px;
	color: goldenrod;
	margin-left:40px;
	margin-top:100px;
}

#answerCheck {
	width: 350px;
	height: 350px;
	border: 5px solid black;
	background: blue;
	font-family: impact;
	font-weight: bold;
	font-size: 25px;
	color: goldenrod;
	float: right;
	position: relative;
	margin-top: -200px;
	margin-left: 1000px;
}


#hiddenAnswer {
	display: none;
}

#welcomeScreen {
	width: 2000px;
	height: 1000px;/*height: 750px;*/
	background-image: url("JeopardyWelcome.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: absolute;
	background-position: left top;
	margin: 0;
}


#podium {
	z-index:1;
	height: 301px;
	width: 798px;
	text-align: center;
	margin-left: 300px;
	margin-top: -185px;
	position:absolute;
}

#enterName {
	text-align:center;
	display:inline-block;
}

#alex {
	margin-top:70px;
	position:relative;
}

#ken {
	z-index:0;
	transform:scale(0.5);
	margin-left:700px;
	margin-top: -750px;
	margin-bottom:40px;
	position: relative;

}

#sean {
	z-index:0;
	transform:scale(0.5);
	margin-left:225px;
	margin-top: -750px;
	margin-bottom:70px;
	position: relative;
}

